
#include "1XcodeWarnings.xcconfig"

// Versioning
BUNDLE_SHORT_VERSION_STRING = 1.0
ENABLE_USER_SCRIPT_SANDBOXING = NO

DEAD_CODE_STRIPPING = YES
STRING_CATALOG_GENERATE_SYMBOLS = YES
ASSETCATALOG_COMPILER_GENERATE_SWIFT_ASSET_SYMBOL_EXTENSIONS = YES

// User Defined
MTL_ENABLE_DEBUG_INFO = NO
PRODUCT_BUNDLE_PREFIX = com.iliosinc

// Update this for the current year
COPYRIGHT_YEAR = 2020-2026
// Set this value for NSHumanReadableCopyright
//     <key>NSHumanReadableCopyright</key>
//     <string>$(COPYRIGHT_STRING)</string>
COPYRIGHT_STRING = Copyright © $(COPYRIGHT_YEAR) ILIOS Inc. All rights reserved.
GET_INFO_STRING = $(BUNDLE_SHORT_VERSION_STRING) $(BUILD_VERSION) $(COPYRIGHT_STRING)

// Project Settings
ALWAYS_EMBED_SWIFT_STANDARD_LIBRARIES = YES
ALWAYS_SEARCH_USER_PATHS = NO
CODE_SIGN_INJECT_BASE_ENTITLEMENTS = YES
CODE_SIGN_STYLE = Automatic
COMBINE_HIDPI_IMAGES = YES
DEVELOPMENT_TEAM = 2WW9KC8P4G
ENABLE_PREVIEWS = YES
//FRAMEWORK_SEARCH_PATHS = $(inherited) $(PROJECT_DIR)/Frameworks
INFOPLIST_FILE = $(PRODUCT_NAME)/Info.plist
MACOSX_DEPLOYMENT_TARGET = 13.0
PRODUCT_BUNDLE_IDENTIFIER = $(PRODUCT_BUNDLE_PREFIX).$(PRODUCT_NAME)
PRODUCT_NAME = $(TARGET_NAME)
PROVISIONING_PROFILE_SPECIFIER =
SDKROOT = macosx
SWIFT_EMIT_LOC_STRINGS = YES
SWIFT_VERSION = 5.0
SWIFT_OPTIMIZATION_LEVEL = -O
VALIDATE_PRODUCT = YES // https://useyourloaf.com/blog/xcode-322-validate-built-product/

ENABLE_APP_SANDBOX = YES
ENABLE_FILE_ACCESS_DOWNLOADS_FOLDER = readwrite
ENABLE_RESOURCE_ACCESS_BLUETOOTH = YES
ENABLE_RESOURCE_ACCESS_CAMERA = YES
ENABLE_RESOURCE_ACCESS_USB = YES
ENABLE_USER_SELECTED_FILES = readwrite
